// variable.scss


@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Volkhov:400italic,700);
$redishPink : #ffcccc;







////////////////slider Variables /////////////////////////

$sliderContainerWidthMax 	: 	1200px;
$wrapperSliderHeight  		:  	576px;
$imageOverviewWidthMax 		: 	300px;
$imageHeight				:	192px;
$detailsHeight				: 	432px;
	